<div class="box_cart">
  <div class="line_org"
       [attr.id]="'color_line_log' + index">

  </div>
  <div style="position: relative">
    <div class="logo_icon"
          (click)="getLineColorImage()">
      <img [attr.id]="'logo_test'"
           [src]="imgSrc"
           style="width: 100%; height: 100%"
           alt="">
    </div>

    <span class="edit-cart"
          (click)="openEditOrg()">
      <i class="material-icons">
        create
      </i>
    </span>
  </div>
  <div class="head_name_org center-text">
    <span>OOO CPECC</span>
  </div>
  <div class="name_contractor center-text">
    <span>Amursky AGPZ</span>
  </div>
  <div class="part_contractor center-text">
    #Подрядчик
  </div>
</div>
